*{
    margin: 0;
    padding: 0;
}

section {
    padding: 3em 4em;
}


.all {
    display:flex;
    justify-content: space-around;
   

}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1em;

}

.miLogo {
    font-family: 'Abril Fatface', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Varela Round', sans-serif;
font-weight: 700;
}


.logoDiv {
    font-size: medium;
    display: flex;
    
}

.logoForma {
   font-size: 2em;
}

ul {
    display: flex;
    text-decoration: none;
    list-style: none;
   
}

.navi {
    padding: 10px 10px;
    font-size:medium;
    color: grey;
    align-items: center;
    text-align: center;
    justify-content: center;

    
}

.flechaArriba {
    padding-left: 0.5em;
}

.botonEstilo1 {
    background-color: black;
    width: 8em;
    border-radius: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.primerParte {
    width: 15em;
}

.lista {
    flex-wrap: wrap;
    width: 250px;
    

   
    
}

 .cosa {
    font-size:large;
    margin-right: 10px;
    margin-left:10px;
    margin-bottom: 10px;
    padding: 2px 4px;
    border-radius: 20px;
    border-style: solid 2px;
    padding: 2px 4px;

}


.licero {
    background-color: black;
    color: white;
    font-size: 25px;
    border-radius: 50%;
    border-style: solid 2px;
    width: 30px;
    height: 30px;
    text-align: center;
    
   
}

.liuno {
    background-color: orange;
    color:white;

    
}

.lidos {
    background-color: black;
    color: white;
}

.litres {
    background-color: yellow;
    color: black;


}

.licuatro {
    background-color: grey;
    color: black;

}

.licinco {
    background-color: blueviolet;
    color: white;


}


button {
    background-color: black;
    color: white;
    width: 140px;
    display: flex;
    padding-left: 10px;
    border-radius: 20px;
    border-style: none;


}

.material-symbols-outlined .flechi {
    align-items: center;
    float: inherit;
    
}




.num {
    display: flex;
    justify-content: space-between;
    
    
}

.meses {
    font-size: medium;
    display: block;
    margin-left: 4px;
    margin-right: 4px;

}

.presentacion {
    font-size: large;
}

.hello {
    font-size: 50px;
}


.yo {
    border-radius: 100%;
    width: 20em;
    height: 20em;
    -webkit-filter: grayscale(1);
    filter: gray; 
    filter: grayscale(1);
}

.present {
   width: 350px;
   text-align: center;
}

.imagen1 {
    width: 250px;
    
}

.redesSociales {
    display: flex;
    justify-content: space-around;
    padding-top: 5em;
}



.asterix{
    font-size: 50px;
}


.botonesColores {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2em;
    
}


.hire {
    text-align: center;
}

.im3 {
    width: 200px;
    height: 200px;
    

}


.titulo {
    text-align: center;

}


.last {
    text-align: left;
    justify-content: left;
}

.box {
    background-color: gainsboro;
    border-radius: 45%;
    text-align: center;
    align-items: center;
    padding-left:35px;
    padding-right: 35px;
    padding-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.css {
    filter: grayscale();
    width: 50px;
}

.html {
    filter: grayscale();
    width: 70px;
}

.javas {
    filter: grayscale();

}

.react {
    filter: grayscale();
    width: 70px;
}


.gris {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 50px;
}

.ftx {
    display: flex;
    text-align: center;
   
}


.fotito {
    width: 350px;
    height: 350px;
}



.end {
    background-color: black;
    height: 400px;
    color: white;
    align-items: center;
}

.fin {
    font-size: 300%;
    font-family:'Times New Roman', Times, serif;
   padding-left: 3cm;
   padding-top: 3em;
}

.despedida {
    float: right;
    margin-right: 3em;
}

.foot {
    display: flex;
    justify-content: space-around;

}



table {
    width: 80em;
}

.generalProyectos {
    display: flex;
}

.imagen9 {
    width: 25em;
    height: 15em;
    
    margin-top: 0.5em;
}

.imagen8 {
    width: 25em;
    height: 25em;
    margin-top: 0.5em;

}

.botonLoad {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2em;
    
}

.loadMore {
    background-color: white;
    border-style: none;
    color: black;
}

.iconEnd {
    display: flex;
    
    
}

.logoEnd {
    font-size: medium;
    display: flex;
}