*{
    margin: 0;
    padding: 0;
}

section {
    padding: 3em 4em;

    
}


.all {
    display:flex;
    justify-content: space-around;
   

}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2em 4em 1em 4em;

}

a{
    text-decoration:none;
}

a:hover {
    color:yellow;
    background-color: black;
}

.miLogo {
font-family: 'Abril Fatface', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Varela Round', sans-serif;
font-weight: 700;
}


.logoDiv {
    font-size: medium;
    display: flex;
    
}

.logoForma {
   font-size: 2em;
}

ul {
    display: flex;
    text-decoration: none;
    list-style: none;
   
}

.navi {
    padding: 10px 10px;
    font-size:medium;
    color: grey;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-decoration: none;

    
}

.flechaArriba {
    padding-left: 0.5em;
}

.botonEstilo1 {
    background-color: black;
    width: 8em;
    border-radius: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    
}

.botonEstilo1:hover {
    color: yellow;
}

.primerParte {
    width: 15em;
}

.num {
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
    
    
}

.meses {
    font-size: medium;
    display: block;
    margin-left: 4px;
    margin-right: 4px;
    font-weight: lighter;
}

.presentacion {
    font-size: 1.5em;
    font-family: 'Playfair Display', serif;
}

.hello {
    font-size: 3.7em;
    padding-bottom: 1em;
    font-family: 'Playfair Display', serif;
}


.yo {
    border-radius: 100%;
    width: 20em;
    height: 25em;
    -webkit-filter: grayscale(1);
    filter: gray; 
    filter: grayscale(1);
}

.present {
    width: 20em;
   text-align: center;
}

.imagen1 {
    width: 15em;
    
}

.redesSociales {
    display: flex;
    justify-content: space-around;
    padding-top: 3em;
}

.redondo {
    border: solid gainsboro 1px;
    border-radius: 100%;
    width: 2em;
    height: 2em;
    vertical-align: middle;
    align-items: center;

}



.asterix{
    font-size: 3.7em;
}


.lista {
    flex-wrap: wrap;
    
}

.list {
    width: 20em;
    padding-left: 2em;
}

.botonesColores {
    display:flex;
    justify-content: space-between;
    
    
}



 .cosa {
    font-size:1em;
    margin-right: 1em;
    margin-left:1em;
    margin-bottom: 1em;
    border-radius: 2em;
    padding: 0.5em 1em;
    

}


.licero {
    background-color: black;
    color: white;
    font-size: 2em;
    border-radius: 100%;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    
   
}

.liuno {
    background-color: orange;
    color:white;

    
}

.lidos {
    background-color: black;
    color: white;
}

.litres {
    background-color: yellow;
    color: black;


}

.licuatro {
    background-color: grey;
    color: black;

}

.licinco {
    background-color: blueviolet;
    color: white;


}


button {
    background-color: black;
    color: white;
    width: 140px;
    display: flex;
    padding-left: 10px;
    border-radius: 20px;
    border-style: none;


}

.material-symbols-outlined .flechi {
    align-items: center;
    float: inherit;
    
}



.contratoP {
    font-size: 1em;
    color: gainsboro;
}

.infoMia {
font-size: 1.5em;
font-family: 'Playfair Display', serif;
}


.hire {
    text-align: center;
   width: 20em;
    
}

.im3 {
    width: 10em;
    height: 10em;
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
    border-bottom-left-radius: 40% ;
    border-bottom-right-radius: 40%;
    

}

.imagen3{
    width: 20em;
}


.titulo {
    text-align: center;
    

font-family: 'Playfair Display', serif;
}


.last {
    text-align: left;
    justify-content: left;
}

.box {
    background-color: gainsboro;
    border-radius: 7em;
    text-align: center;
    align-items: center;
    padding-left:3em;
    padding-right: 3em;
    padding-top: 2em;
    margin-left: 1em;
    margin-right: 1em;
}

.css {
    filter: grayscale();
    
}

.css3 {
    width: 3em;
    height: 4em;
    filter: grayscale();
}

.gris {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 50px;
}

.ftx {
    display: flex;
    text-align: center;
   
}


.fotito {
    width: 350px;
    height: 350px;
}





.despedida {
    float: right;
    margin-right: 3em;
}

.foot {
    display: flex;
    justify-content: space-around;

}



table {
    width: 60em;
    font-family: 'Playfair Display', serif;
    font-size:  1.3em;
    border-collapse: none;
    align-items: center;
    vertical-align: middle;
}

 .last{

 text-align: right;

}
table td {
    border-bottom: gainsboro solid 1px;
    padding-bottom: 1em;
    padding-top: 1em;
   
}

.nuevaFuente {
    font-family: 'Abril Fatface', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Varela Round', sans-serif;
font-size: small;
font-weight: lighter;

}

.generalProyectos {
    display: flex;
}

.imagen9 {
    width: 25em;
    height: 15em;
    
    margin-top: 0.5em;
}

.imagen8 {
    width: 25em;
    height: 25em;
    margin-top: 0.5em;

}

.botonLoad {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2em;
    
}

.loadMore {
    background-color: white;
    border-style: none;
    color: black;
}


.testimonioSofi {
    width: 3em;
    height: 3em;
    border-radius: 100%;
}

.testimonial {
    text-align: center;
}

.textoTest {
   
}

.flechaDer {
    padding-right: 70em;
}

.soymate {
    color: gainsboro;
}

.testimony {
    padding-bottom: 2em;
}

.copyright {
    text-align: right;
}

.end {
    background-color: black;
    height: 35em;
    color: white;
}

.fin {
    font-size: 300%;
    font-family: 'Playfair Display', serif;
    position: absolute;
    margin-top: 3em;
    padding-bottom: 1em;
}

.imagenFondo {
    display: flex;
    
}


.mano1 {
    width: 20em;
    height: 20em;
    border-radius: 100%;
    margin-left: 25em;
    margin-top: 2em;
   
    
}

.botonBlanco {
    background-color: white;
    color: black;
    border-radius: 2em;
    padding: 1em 2em;
    width: 10em;
    
}

.botonBlanco:hover {
color: yellow;

}




.iconEnd {
    display: flex;
    vertical-align: middle;
    
    
}

.logoEnd {
    font-size: medium;
    display: flex;
}

.iconofinal {
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0.5em;
    color: black;
    
}

.iconofinal:hover {
    color: yellow;
    

}

.copyend {
    margin-top: 0.5em;
}

.educacionUno {
    margin-top: 3em;
    
}

